.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;

  &--navigation {
    @include tablet {
      display: none;
    }

    @include phone_1 {
      display: none;
    }

    @include phone_2 {
      display: none;
    }

    &--list {
      display: flex;
      gap: 80px;

      & li {
        font-family: "Manrope";
        font-weight: 400;
        font-size: 17px;
        color: $white;
        cursor: pointer;
      }
    }
  }

  &--logo {
    width: 56px;
    height: 65px;
  }

  &--groupIcon {
    display: none;

    @include tablet {
      display: flex;
      gap: 30px;
    }

    @include phone_1 {
      display: flex;
      gap: 20px;

      width: 35px;
      height: 35px;
      margin-left: 20px;
    }

    @include phone_2 {
      display: flex;
      gap: 30px;
    }
  }

  @include desktop {
    margin-left: 120px;
    margin-right: 120px;
  }

  @include laptop {
    margin-left: 80px;
    margin-right: 80px;

    &--logo {
      width: 45px;
      height: 55px;
    }

    &--navigation {
      &--list {
        gap: 50px;

        & li {
          font-size: 16px;
        }
      }
    }
  }

  @include tablet {
    margin-left: 90px;
    margin-right: 90px;
  }

  @include phone_1 {
    margin-left: 50px;
  }

  @include phone_2 {
    margin-left: 50px;

    &--logo {
      width: 35px;
      height: 40px;
    }

    &--groupIcon {
      width: 35px;
      height: 35px;
    }
  }
}
