.appeal--cards-card {
  @include card($font-family: "Manrope");

  @include desktop {
    @include card($font-family: "Manrope", $width: 23%, $height: 215px);
  }

  @include laptop {
    @include card($font-family: "Manrope", $width: 420px, $height: 215px);
  }

  @include tablet {
    @include card($font-family: "Manrope", $width: 400px, $height: 215px);
  }

  @include phone_1 {
    @include card($font-family: "Manrope", $width: 350px, $height: 215px);
  }
}

.activity--cards-card {
  @include card(
    $font-family: "UNCAGE",
    $title: 35px,
    $text: 18px,
    $width: 300px,
    $height: 190px
  );

  @include laptop {
    @include card(
      $font-family: "UNCAGE",
      $title: 25px,
      $text: 15px,
      $width: 22%,
      $height: 190px
    );
  }

  @include tablet {
    @include card(
      $font-family: "UNCAGE",
      $title: 35px,
      $text: 18px,

      $height: 220px
    );

    line-height: 20px;
  }

  @include phone_1 {
    @include card(
      $font-family: "UNCAGE",
      $title: 35px,
      $text: 18px,

      $height: 220px
    );

    line-height: 20px;
  }
}

.helping--container--cardsTop-card {
  @include card(
    $font-family: "UNCAGE",
    $title: 25px,
    $text: 18px,
    $width: 270px,
    $height: 240px
  );

  @media (max-width: 1110px) {
    @include card(
      $font-family: "UNCAGE",
      $title: 25px,
      $text: 18px,
      $width: 340px,
      $height: 240px
    );
  }
}

.helping--container--cardsBottom-card {
  @include card(
    $font-family: "UNCAGE",
    $title: 25px,
    $text: 18px,
    $width: 270px,
    $height: 240px
  );

  @media (max-width: 1110px) {
    @include card(
      $font-family: "UNCAGE",
      $title: 25px,
      $text: 18px,
      $width: 340px,
      $height: 240px
    );
  }
}
